ndsdisasm
hashtable.c
hashtable.h
*.exe
capstone-*
*.gba
.fuse_hidden*
*.nds
.idea/
cmake-build-*

# dis_single_func stuff
dis_single_func.cfg
*.dump
*.s
missing_funcs.txt
baserom_syms.yml
*.pyc
__pycache__/
*.cfg
*.xmap
fix_jumptable_input.txt
fix_jumptable_out.txt
compare.sh
