ndsdisasm
hashtable.c
hashtable.h
*.exe
capstone-*
*.gba
.fuse_hidden*
*.nds
.idea/
cmake-build-*

# dis_single_func stuff
dis_single_func.cfg
*.dump
*.s
missing_funcs.txt
baserom_syms.yml
*.pyc
__pycache__/
*.cfg
*.xmap
fix_jumptable_input.txt
fix_jumptable_out.txt
compare.sh
*.7z
ov66.json
*.bin
*.inc
*include/**/*.h
*include/*.h
overlaymap.json

MSL C.NITRO.mcp.xml
uncrustify_ilobby_out/*

!1tbs2.cfg
!1tbs_cpp.cfg
